.code-area {
  border: 1px solid #ddd;
}
.code-area .code-area-left {
  position: relative;
  padding: 0;
}
.code-area .code-area-left textarea {
  height: 550px;
  padding: 20px;
  border: none;
  border-right: solid 1px #ddd;
  border-radius: 0;
  resize: none;
  outline: none;
}
.code-area .code-area-left .format-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.code-area .code-area-left .format-btn:active,
.code-area .code-area-left .format-btn:focus {
  outline: none;
}
.code-area .code-area-right {
  padding: 0;
}
.code-area .code-area-right .navi {
  padding: 10px;
  font-size: 16px;
  border-bottom: solid 1px #ddd;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: bold;
}
.code-area .code-area-right .navi a {
  padding: 0px 20px;
  color: #999;
}
.code-area .code-area-right .navi a:hover {
  color: #15b374;
}
.code-area .code-area-right .json-target {
  height: 510px;
  padding: 20px;
  border-radius: 0;
  resize: none;
  overflow-y: scroll;
  outline: none;
}
