<!DOCTYPE html>
<html>
<head>
    <title>500-内部服务器错误</title>
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css'/>
    <link href="https://www.zb100.com/static/images/favicon.ico" rel="SHORTCUT ICON"/>
</head>
<body>
<div class="flex-content">
    <div class="header">
        <div class="container">
            <div class="header-content">
                <p class="logo">Mock Admin Beta</p>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <h1>500</h1>
            <h2>http内部服务器</h2>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <ul class="nav-list">
            <li>
                <a href="https://www.zb100.com" target="_blank">首页</a>
            </li>
            <li>
                <a href="http://139.224.59.55:8099/" target="_blank">Swagger</a>
            </li>
            <li>
                <a href="https://gitlab.zb100.com/" target="_blank">GitLab</a>
            </li>
            <li>
                <a href="https://www.zb100.com/about_us.html" target="_blank">关于我们</a>
            </li>
        </ul>
        <p class="copy-right clearfix">
            Copyright @2017 杭州珠宝壹佰前端技术部 版权所有
        </p>
    </div>
</div>
</body>
</html>
